.jumbotron {
	background-color: blue;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: blue;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	margin-top: 5px; 
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 8px;
}