$blue: #4637A0;
$red: #D84E43;
$green: #3FAF87;
$yellow: #FCF567;
$black: #565366;

@mixin margins($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings($top: 0px, $right: 0px, $bottom: 0px, $left: 0px){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;	
	padding-left: $left;
}

.jumbotron {
  background-color: $blue;
  color: $yellow;
  @include margins(50px, 10px);
}

footer {
  background-color: $blue;
  @include margins(10px, 0px);
  @include paddings(10px, 10px, 0px, 10px);
}

.card-hotel {
  flex: 1 200px;
  @include margins(10px, 10px);
}

.btn-reserva {
  width: 100%;
  @include margins(5px, 0px);
}

.footer-address-icon {
  @include paddings(0px, 10px, 0px, 0px);
}

.tab-content {
  @include paddings(8px, 0px, 0px, 0px);
}