@blue: #4637A0;
@red: #D84E43;
@green: #3FAF87;
@yellow: #FCF567;
@black: #565366;


.margins(@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;

}

.paddings(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
	padding-top: @top;
	padding-right: @right;
	padding-bottom: @bottom;	
	padding-left: @left;
}

.jumbotron {
	background-color: @blue;
	color: @yellow;
	.margins(50px, 0px);
}

footer {
	background-color: @blue;
	.paddings(10px, 10px, 0px, 10px);
	.margins(10px, 0px);
}

.card-hotel {
	flex: 1 200px;
	.margins(10px, 0px);
}

.btn-reserva {
	width: 100%;
	.margins(5px, 0px);
}

.footer-address-icon {
	.paddings(0px, 10px, 0px, 0px);
}

.tab-content {
	padding-top: 8px;
	.paddings(8px, 0px, 0px, 0px);
}