.jumbotron {
  background-color: #4637A0;
  color: #FCF567;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  background-color: #4637A0;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-reserva {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
